<% if !flash[:notice].blank? %>
    <div class="notice">
      <%= flash[:notice] %>
    </div>
<% end %>

<div class="Page Index">
  <h1>Subjects</h1>
  <%= link_to("Add new subject",new_page_path,:class => 'action new') %>

  <table class="'listing"  summary="Page Lists">
    <tr class="header">
      <th>#</th>
      <th>Subject Id</th>
      <th>Page</th>
      <th>Permalink</th>
      <th>Visible</th>
      <th>Sections</th>
      <th>Actions</th>
    </tr>

    <% @pages.each do |page| %>
        <tr>
          <td><%= page.position %></td>
          <td><%= page.subject_id %></td>
          <td><%= page.name %></td>
          <td><%= page.permalink %></td>
          <td class="center"><%= page.visible ? 'Yes' : 'No'%></td>
          <td class='center'><%= page.sections.size %></td>
          <td class="actions">
            <%= link_to("Show","pages/#{page.id}",:class => 'action show') %>
            <!-- another entry to addr. can be
            {:controller => 'subjects', :action => 'show' ,:id => sub.id} #no ""
            #method 3
            subject_path(sub) #No "" needed-->
            <%= link_to("Edit",edit_page_path(page.id),:class => 'action edit') %>
            <%= link_to("Delete",delete_page_path(page),:class => 'action delete') %>
          </td>
        </tr>
    <% end %>
  </table>
</div>
